---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./http-route.sops.yaml
commonAnnotations:
  external-dns.alpha.kubernetes.io/hostname: grafana.#{ cloudflare_domain }#
  external-dns.alpha.kubernetes.io/target: internal.#{ cloudflare_domain }#
