apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: envoy
spec:
  logging:
    level:
      default: info
  provider:
    type: Kubernetes
    kubernetes:
      envoyDeployment:
        replicas: 2
        container:
          resources:
            requests:
              cpu: 100m
            limits:
              memory: 1Gi
      envoyService:
        externalTrafficPolicy: Cluster
  shutdown:
    drainTimeout: 180s
  telemetry:
    metrics:
      prometheus:
        compression:
          type: Gzip
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjbk05VG56VHo5aWl5MUYv
        RmtBb2czN01QVFRDRk1ScXpYN2ZuYUVYOUVNClVtVXFPS1AzaUNya3FEemNHZ1gw
        TnFEZ1VUS1A0UloreFA3MUQ0d0w2dWsKLS0tIEV1REhYd2hLemsva2R6YjJ1MXhK
        K0pCbHlrTDh6N2h3RTNWem9IRmw0cmcKk2++4ThONiv3TV5g5dw9Ma1L6Op1w1Zz
        KBHCsDB8tg1FljXFXp7ZC430cHlufY2H1py99u/tAiZ/4+Nw6D1uMw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:44:12Z"
  mac: ENC[AES256_GCM,data:GcwEcqUj4isDkRbLAPnO0c6DgXDpzCKQqmgluVwsFfZAgwpXqO8H/V14BOF66gu7xTv0TKH+0MjTuJNJT8qW+N8tegyQ1GLYAT9jRHwsvCTBXGN0nX7YAZfUMSxPJgdyM32QURMrmnRIUnQ8QlQQCHvYzvH8SOGS8F5lPT+w/30=,iv:s/69PWBoeTDNgrjh9KWl4db83vA4/wjd2tjrZM9l1Gw=,tag:t1BF8P8vFYu7JjWGF207lA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
---
apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
  name: envoy
spec:
  controllerName: gateway.envoyproxy.io/gatewayclass-controller
  parametersRef:
    group: gateway.envoyproxy.io
    kind: EnvoyProxy
    name: envoy
    namespace: network
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjbk05VG56VHo5aWl5MUYv
        RmtBb2czN01QVFRDRk1ScXpYN2ZuYUVYOUVNClVtVXFPS1AzaUNya3FEemNHZ1gw
        TnFEZ1VUS1A0UloreFA3MUQ0d0w2dWsKLS0tIEV1REhYd2hLemsva2R6YjJ1MXhK
        K0pCbHlrTDh6N2h3RTNWem9IRmw0cmcKk2++4ThONiv3TV5g5dw9Ma1L6Op1w1Zz
        KBHCsDB8tg1FljXFXp7ZC430cHlufY2H1py99u/tAiZ/4+Nw6D1uMw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:44:12Z"
  mac: ENC[AES256_GCM,data:GcwEcqUj4isDkRbLAPnO0c6DgXDpzCKQqmgluVwsFfZAgwpXqO8H/V14BOF66gu7xTv0TKH+0MjTuJNJT8qW+N8tegyQ1GLYAT9jRHwsvCTBXGN0nX7YAZfUMSxPJgdyM32QURMrmnRIUnQ8QlQQCHvYzvH8SOGS8F5lPT+w/30=,iv:s/69PWBoeTDNgrjh9KWl4db83vA4/wjd2tjrZM9l1Gw=,tag:t1BF8P8vFYu7JjWGF207lA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: envoy-external
  annotations:
    external-dns.alpha.kubernetes.io/target: external.k8s.krapulax.dev
spec:
  gatewayClassName: envoy
  infrastructure:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: external.k8s.krapulax.dev
      lbipam.cilium.io/ips: 10.0.40.103
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      allowedRoutes:
        namespaces:
          from: All
      tls:
        certificateRefs:
          - kind: Secret
            name: k8s-krapulax-dev-production-tls
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjbk05VG56VHo5aWl5MUYv
        RmtBb2czN01QVFRDRk1ScXpYN2ZuYUVYOUVNClVtVXFPS1AzaUNya3FEemNHZ1gw
        TnFEZ1VUS1A0UloreFA3MUQ0d0w2dWsKLS0tIEV1REhYd2hLemsva2R6YjJ1MXhK
        K0pCbHlrTDh6N2h3RTNWem9IRmw0cmcKk2++4ThONiv3TV5g5dw9Ma1L6Op1w1Zz
        KBHCsDB8tg1FljXFXp7ZC430cHlufY2H1py99u/tAiZ/4+Nw6D1uMw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:44:12Z"
  mac: ENC[AES256_GCM,data:GcwEcqUj4isDkRbLAPnO0c6DgXDpzCKQqmgluVwsFfZAgwpXqO8H/V14BOF66gu7xTv0TKH+0MjTuJNJT8qW+N8tegyQ1GLYAT9jRHwsvCTBXGN0nX7YAZfUMSxPJgdyM32QURMrmnRIUnQ8QlQQCHvYzvH8SOGS8F5lPT+w/30=,iv:s/69PWBoeTDNgrjh9KWl4db83vA4/wjd2tjrZM9l1Gw=,tag:t1BF8P8vFYu7JjWGF207lA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: envoy-internal
  annotations:
    external-dns.alpha.kubernetes.io/target: internal.k8s.krapulax.dev
spec:
  gatewayClassName: envoy
  infrastructure:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: internal.k8s.krapulax.dev
      lbipam.cilium.io/ips: 10.0.40.102
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      allowedRoutes:
        namespaces:
          from: All
      tls:
        certificateRefs:
          - kind: Secret
            name: k8s-krapulax-dev-production-tls
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjbk05VG56VHo5aWl5MUYv
        RmtBb2czN01QVFRDRk1ScXpYN2ZuYUVYOUVNClVtVXFPS1AzaUNya3FEemNHZ1gw
        TnFEZ1VUS1A0UloreFA3MUQ0d0w2dWsKLS0tIEV1REhYd2hLemsva2R6YjJ1MXhK
        K0pCbHlrTDh6N2h3RTNWem9IRmw0cmcKk2++4ThONiv3TV5g5dw9Ma1L6Op1w1Zz
        KBHCsDB8tg1FljXFXp7ZC430cHlufY2H1py99u/tAiZ/4+Nw6D1uMw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:44:12Z"
  mac: ENC[AES256_GCM,data:GcwEcqUj4isDkRbLAPnO0c6DgXDpzCKQqmgluVwsFfZAgwpXqO8H/V14BOF66gu7xTv0TKH+0MjTuJNJT8qW+N8tegyQ1GLYAT9jRHwsvCTBXGN0nX7YAZfUMSxPJgdyM32QURMrmnRIUnQ8QlQQCHvYzvH8SOGS8F5lPT+w/30=,iv:s/69PWBoeTDNgrjh9KWl4db83vA4/wjd2tjrZM9l1Gw=,tag:t1BF8P8vFYu7JjWGF207lA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: envoy
spec:
  compression:
    - type: Brotli
    - type: Gzip
  connection:
    bufferLimit: 8Mi
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: Gateway
  tcpKeepalive: {}
  timeout:
    http:
      requestTimeout: 0s
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjbk05VG56VHo5aWl5MUYv
        RmtBb2czN01QVFRDRk1ScXpYN2ZuYUVYOUVNClVtVXFPS1AzaUNya3FEemNHZ1gw
        TnFEZ1VUS1A0UloreFA3MUQ0d0w2dWsKLS0tIEV1REhYd2hLemsva2R6YjJ1MXhK
        K0pCbHlrTDh6N2h3RTNWem9IRmw0cmcKk2++4ThONiv3TV5g5dw9Ma1L6Op1w1Zz
        KBHCsDB8tg1FljXFXp7ZC430cHlufY2H1py99u/tAiZ/4+Nw6D1uMw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:44:12Z"
  mac: ENC[AES256_GCM,data:GcwEcqUj4isDkRbLAPnO0c6DgXDpzCKQqmgluVwsFfZAgwpXqO8H/V14BOF66gu7xTv0TKH+0MjTuJNJT8qW+N8tegyQ1GLYAT9jRHwsvCTBXGN0nX7YAZfUMSxPJgdyM32QURMrmnRIUnQ8QlQQCHvYzvH8SOGS8F5lPT+w/30=,iv:s/69PWBoeTDNgrjh9KWl4db83vA4/wjd2tjrZM9l1Gw=,tag:t1BF8P8vFYu7JjWGF207lA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: ClientTrafficPolicy
metadata:
  name: envoy
spec:
  clientIPDetection:
    xForwardedFor:
      trustedCIDRs:
        - 10.42.0.0/16
  connection:
    bufferLimit: 4Mi
    maxAcceptPerSocketEvent: 0
  http2:
    initialStreamWindowSize: 512Ki
    initialConnectionWindowSize: 8Mi
    onInvalidMessage: TerminateStream
  http3: {}
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: Gateway
  tcpKeepalive: {}
  timeout:
    http:
      requestReceivedTimeout: 0s
  tls:
    minVersion: "1.2"
    alpnProtocols:
      - h2
      - http/1.1
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjbk05VG56VHo5aWl5MUYv
        RmtBb2czN01QVFRDRk1ScXpYN2ZuYUVYOUVNClVtVXFPS1AzaUNya3FEemNHZ1gw
        TnFEZ1VUS1A0UloreFA3MUQ0d0w2dWsKLS0tIEV1REhYd2hLemsva2R6YjJ1MXhK
        K0pCbHlrTDh6N2h3RTNWem9IRmw0cmcKk2++4ThONiv3TV5g5dw9Ma1L6Op1w1Zz
        KBHCsDB8tg1FljXFXp7ZC430cHlufY2H1py99u/tAiZ/4+Nw6D1uMw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:44:12Z"
  mac: ENC[AES256_GCM,data:GcwEcqUj4isDkRbLAPnO0c6DgXDpzCKQqmgluVwsFfZAgwpXqO8H/V14BOF66gu7xTv0TKH+0MjTuJNJT8qW+N8tegyQ1GLYAT9jRHwsvCTBXGN0nX7YAZfUMSxPJgdyM32QURMrmnRIUnQ8QlQQCHvYzvH8SOGS8F5lPT+w/30=,iv:s/69PWBoeTDNgrjh9KWl4db83vA4/wjd2tjrZM9l1Gw=,tag:t1BF8P8vFYu7JjWGF207lA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: https-redirect
  annotations:
    external-dns.alpha.kubernetes.io/controller: none
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: http
    - name: envoy-internal
      namespace: network
      sectionName: http
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjbk05VG56VHo5aWl5MUYv
        RmtBb2czN01QVFRDRk1ScXpYN2ZuYUVYOUVNClVtVXFPS1AzaUNya3FEemNHZ1gw
        TnFEZ1VUS1A0UloreFA3MUQ0d0w2dWsKLS0tIEV1REhYd2hLemsva2R6YjJ1MXhK
        K0pCbHlrTDh6N2h3RTNWem9IRmw0cmcKk2++4ThONiv3TV5g5dw9Ma1L6Op1w1Zz
        KBHCsDB8tg1FljXFXp7ZC430cHlufY2H1py99u/tAiZ/4+Nw6D1uMw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:44:12Z"
  mac: ENC[AES256_GCM,data:GcwEcqUj4isDkRbLAPnO0c6DgXDpzCKQqmgluVwsFfZAgwpXqO8H/V14BOF66gu7xTv0TKH+0MjTuJNJT8qW+N8tegyQ1GLYAT9jRHwsvCTBXGN0nX7YAZfUMSxPJgdyM32QURMrmnRIUnQ8QlQQCHvYzvH8SOGS8F5lPT+w/30=,iv:s/69PWBoeTDNgrjh9KWl4db83vA4/wjd2tjrZM9l1Gw=,tag:t1BF8P8vFYu7JjWGF207lA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
