controllers:
  echo:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/mendhak/http-https-echo
          tag: 37
        env:
          HTTP_PORT: 8080
          LOG_WITHOUT_NEWLINE: true
          LOG_IGNORE_PATH: /healthz
          PROMETHEUS_ENABLED: true
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
service:
  app:
    controller: echo
    ports:
      http:
        port: 8080
serviceMonitor:
  app:
    serviceName: echo
    endpoints:
      - port: http
route:
  app:
    hostnames:
      - echo.k8s.krapulax.dev
    parentRefs:
      - name: envoy-external
        namespace: kube-system
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: 8080
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4R1Y0cDZsckJOSFZ3b3ZR
        T2YyQkgwbkxTYk5XbUcvT0xIdFR2Si9tdDBjCm1aTnUrYm1vWGJZZ1MvZ3pmZllk
        ZFJpL1RMZGwyZjFkR1ZpcHdUUmZPdTAKLS0tIE5KeUR6Y1NBUWUxa2dLZm1raFY5
        OEJraWNYT0lseEtuNWpxSHk4OCtEKzQKMpHps9hFNGpAilin7qv1yoiJLEl0t+CB
        u00jGDOt2w44jQJjj5tMk/ljIIEXV49tC80sTY1haQ3LSbOajOLNhQ==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:44:12Z"
  mac: ENC[AES256_GCM,data:obfwZTK9slXnKb+8n1lqwAbGl2Nq0yH7aOG5ENjmraDssfpLnQtGpoIJ44/Y4O50QLR8NIbBf5BDuZAYZtVHeP5FoTshBABpB+aZ3IkzrIo/cJBfNJygZSUUP09rKZN2XeWbO1MDbP6AXbK4JqpHbVZAQlTpXxQpDbd8KX4cnEI=,iv:RwSpk0kolB/wJXnXG4EeK7EcB+KN8yqtGgr3mgPgr/M=,tag:mxoVGMG2akxBo1As77MFSQ==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
