controllers:
  echo:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/mendhak/http-https-echo
          tag: 37
        env:
          HTTP_PORT: 8080
          LOG_WITHOUT_NEWLINE: true
          LOG_IGNORE_PATH: /healthz
          PROMETHEUS_ENABLED: true
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
service:
  app:
    controller: echo
    ports:
      http:
        port: 8080
serviceMonitor:
  app:
    serviceName: echo
    endpoints:
      - port: http
route:
  app:
    hostnames:
      - echo.k8s.krapulax.dev
    parentRefs:
      - name: envoy-external
        namespace: kube-system
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: 8080
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB2TTFYdUE4b25uUGlIVmtj
        NjBLM2xqeFk2QUtVUXFuUnRCb28xV3h1MVJ3CjRXQVhPV2k2cUoyNFhrYTQvZTFI
        TE1hNlZGYndFSExsdWdyTWtiZFF6czQKLS0tIE1UTFRqeURUOWFwV1VLeUFHY1FQ
        WGJZTVU2aGFNc2ZtQ3V6NWk0Mm0wZUEKvdpNYKPSMEpyrHwrUyG3qDFgLYmhCpBU
        dp67gak8WaD0OYbxMiqjHnAfeM99n/PJOq5RbgrllGqW3S9aWwDzoQ==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:34:35Z"
  mac: ENC[AES256_GCM,data:f2smJk919CBKrc75FzfYWy9AlTMh4GUBnD5tR1ui8KMwyMNZdiBsvOHSgsWl2WiLSV9tWS3p4586PPxbxzVxf55K+Ai1024/ot+5xdim2UiIm9ihztGNety3iXdnY+ee54exGLOwqs1j5MMeO023opJ3V35nvUHyIGWYCGTiLGc=,iv:uil/lA2U9b4jsFljjWvqW6fX0Mb+a7srdZtvkE7HJC8=,tag:NDpnALAGmJuIPe8CupWcYQ==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
