controllers:
  echo:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/mendhak/http-https-echo
          tag: 37
        env:
          HTTP_PORT: 8080
          LOG_WITHOUT_NEWLINE: true
          LOG_IGNORE_PATH: /healthz
          PROMETHEUS_ENABLED: true
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
service:
  app:
    controller: echo
    ports:
      http:
        port: 8080
serviceMonitor:
  app:
    serviceName: echo
    endpoints:
      - port: http
route:
  app:
    hostnames:
      - echo.k8s.krapulax.dev
    parentRefs:
      - name: envoy-external
        namespace: kube-system
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: 8080
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAxOUpoV1hPTzA4V3E2OW5l
        ZCtrSUU4d0M5bTU2L29rbzhHVldRREJHVVF3CnV2VUUzRTlNZVREOFgxN0pSRGpP
        MlpJcTkyQTJUeUl6SzlCRFRnVUJsUEUKLS0tIFhXY2s5T3dxZ0hwYldvSytDcjky
        Q1NkOXZMdVFUWk4wdEVHRkQ3STRFUUEKxqQEpBUCZ2lWLVHZuzWhxJlpSeMlwfOy
        fIw4Fy4aGzCXE/7Ttdk3gb0J1ybggRwCjHrFLXrNe4QZKIyl+bH6jA==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T17:27:02Z"
  mac: ENC[AES256_GCM,data:7s0lZcOiqsBs87y3iarlBRhIjAM5Zusbd3Jah+QBgBA3aJ98pBhFr0l4NNc22Vw00o3tj45bzIZPE3ePm8skAh2rqriJZVMg+6afzcsKvl3Hgu7bIwHGJ9Vc+AmzsWhgClWENkgtaOnuaFAgFO5Jl0ZHyK7J45B1+b+aUEh4r+g=,iv:+pc6Q7vkpwc5NNN5OxrCJiiGQEEnhxfHmDBUlHoWkMc=,tag:BCMubQFHhRq3/2JOm6GGLQ==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
