fullnameOverride: cloudflare-dns
provider: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-dns-secret
        key: api-token
extraArgs:
  - --cloudflare-dns-records-per-page=1000
  - --cloudflare-proxied
  - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
  - --crd-source-kind=DNSEndpoint
  - --gateway-name=envoy-external
triggerLoopOnEvent: true
policy: sync
sources:
  - crd
  - gateway-httproute
txtPrefix: k8s.
txtOwnerId: default
domainFilters:
  - k8s.krapulax.dev
serviceMonitor:
  enabled: true
podAnnotations:
  secret.reloader.stakater.com/reload: cloudflare-dns-secret
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6bm9BdENIaVFlZUVqS3pj
        MXNTTytxNklIUktMVk5Jd0tSQlBPc051WUd3CkYrT3lCNXNHUCszOEJ1REFLM05p
        Z3F4Ujd3NnJJRys3Q2ZBWHQ4cHlPNlEKLS0tIEtKQVV1VVVna2M0N2lJTDl1NXFI
        V3hWdG5QOTZsdVRSRXBEckI2MXlLZGMKezpqu3AOMeRkbZ5ga87HM2Xvs/yhlEqX
        T8g/lnwT0BldM2DuvdD5NVjhQmA9KhL7qiKbd4Eq6meAYJCzXKr+3g==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:34:35Z"
  mac: ENC[AES256_GCM,data:fs0KZDTNw4DAyKO+ARZaf+vi8Wtkayae7ggCM6y3c2Qyd2gplSnSaLgKVOWvjiAj1LsIqMb8VUrkwaHleG8+JaVa7UTjRZaFfu8aSOFn/glSu8bBFKb1m1WQtCnZHf82yZ8ZF5GriiJwPW16q82Nt3xcnHdHnIMTytbNY0N+Qo0=,iv:v+IlocFMmXekg0FA1DXqT42bUGvhn+Cl7CYJN92gWig=,tag:9nIz7GhHdjBtUeXVJWLgmA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
