fullnameOverride: cloudflare-dns
provider: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-dns-secret
        key: api-token
extraArgs:
  - --cloudflare-dns-records-per-page=1000
  - --cloudflare-proxied
  - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
  - --crd-source-kind=DNSEndpoint
  - --gateway-name=envoy-external
triggerLoopOnEvent: true
policy: sync
sources:
  - crd
  - gateway-httproute
txtPrefix: k8s.
txtOwnerId: default
domainFilters:
  - k8s.krapulax.dev
serviceMonitor:
  enabled: true
podAnnotations:
  secret.reloader.stakater.com/reload: cloudflare-dns-secret
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAyV00zdnBkU3pJb3BPV3Ba
        c1RuaHd6NGJSMlMvczZ1alJ4VUptY0JDSHpVCmJOOWpYZS9FVVBlL0ZES0dQSk1z
        UjRhQ3dLc3FRMTZiKzhrRTcyeS9MbWsKLS0tIER3UkYvTGVDTk95c3dPVE9USmhD
        U1F5UDlBRVVFNURlQ0MrVzhUWjcxNk0KTo7YvVMve79xasBA2WunJ+7cZoSgyQ8R
        RWtWaKIfCv37vtZuaIwm1rkSrwwnwUpQ17sIjkoji46bYEepPMvKzQ==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T17:27:02Z"
  mac: ENC[AES256_GCM,data:wSNEPuHUPNuDeHJbsuY1UeX3GrJWsAgduKBmwrkO2v3h/7Af/hBfMULoC6+jQYvtaToU765NSdd1YLIiOnuQ7tUElNQWMOH3/loSaYYuxfxcU4Yjyaze7vOTiUTuW8A35YD7cQtwvgqIJnU/FlKNaXeWTo9CjwCjNV69wwVPn8Y=,iv:nzh6aQ63hN+rd/zkYL6W/1DPyOucwpwv+ytMHuIi/ks=,tag:3ak8Yv3NX+w9idjX6dUNOw==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
