apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-secret
              key: api-token
        selector:
          dnsZones:
            - k8s.krapulax.dev
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBVUWREV0I2azZJOFBWcmoy
        VllCQ1J5N2diZ0lwSHFwWFpIckp4Z3ljSzFZCkdFbVp6V203Z2hnNEdZazNEUXYy
        NmxqTHdYNmp6VXZ0aWtIaEZ4NU81UlEKLS0tIEV6Q1lyd1pDQlVPMWM1OUNPUTlX
        Z29iQWZWaG9POHdqL1RkbTlZd20wQ0EKAJWPyAn0jDppjp/zYE9P7/zbNaTAbjc6
        8Hg1oZzjukJmIA+BM55cMs+Yjdn42HXZtql17pPrWqCPPg4n3U/I+g==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:44:12Z"
  mac: ENC[AES256_GCM,data:+rg8QDk+e2A1j40iH2n+W3wvaUfTD5RT8Fyv56oRZTNcirW2Zi98QzV0um0A0k4M5WszisZ9FlwI5YtfhfvN76ZmjwXuBXh2XH3bMFJslg7XrTwTmE+EvrP/h8C/g0b31MeNOuEqwJkNyV4fCTWZpHgnISd2xwgPqe0a73iuE68=,iv:UEmYl8eiCLcElmtC1HfgUu1Qp4QMjE+Bcwfyhr6BTb0=,tag:m3Pk3pf7n5dGz5o3YZRnbw==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
