apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-secret
              key: api-token
        selector:
          dnsZones:
            - k8s.krapulax.dev
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSByeDZtenV2NCtOYmEyOG5x
        Y0I4ODM2YVp4K2dZUnhnY2taTXhtTGdHR1hzCnJ1cXNWKzhxcTc5YmhlbHdIdjJ6
        TWdzYjNtODMrem1EWjFBUjFuRHRFSXMKLS0tIHJWMGR2Y2JUYU0yN294NTJQdWo4
        OHpLeDB1eFVlYVdnbENZRnViWU5TdXcKCimGk6H0XiO/WrPv2bDVYr7YG4CfzJeY
        0l/k5+vr4Pynas3bW1zqwQb8VqWCp5fYQhSEpqRn+u/R/glZBu797w==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T16:28:02Z"
  mac: ENC[AES256_GCM,data:RZvaPTeS4c8DB5grQaVNiYZDoEgHYK3KplbYAHESUEkvppbanuHdy8xJafJSatzqlASZ59c5MTpUAM7vM/B9sz2+TurkbiUq9mSukYTIsLgYOntgMeiwqFv9c8mqUWBH6UUY94YXBcM4cB9qr/8dXsQWnfl+p8nk4TCJZVeSvOw=,iv:w3+XFl+J5hiD/W93ji1oLGlg6pyd+4qP6kef+ontLyY=,tag:YUBNbyhaKf8K0554CfYevw==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
