apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-secret
              key: api-token
        selector:
          dnsZones:
            - k8s.krapulax.dev
sops:
  age:
    - recipient: age1saea3t7l67lavg0ardepzys6egp50g82uvks98pk53xdlj57uf8sa2arcs
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB2OTRMa3hRTTR4NzNLS3JR
        ejRJUFJHcCs1SU9XZXNiZjkxYVBTTXhyZWo0Cm9HbWtMcml2SUFwNm5vdG1zVDdQ
        WmtlU3k2R0ZYTEpubm40UThaRXZxUlUKLS0tIGR4akZZclZlOVEvdTl0ZHZBelM1
        eFJPSE94bmRsWVlKWmRYbHBLdVViVVUKHXyGeMou4TrLNn0K8r7Febpvxp5hpvIO
        Zu5KwUEymad9T1/wbEjTvT5OFHgIfHbYTQySRWmymfGw5hCZNVWslA==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-04T15:03:55Z"
  mac: ENC[AES256_GCM,data:y96AiW6M09bg8UwZ8bNcAMHFOWXSbud5P8iYgmA/1XPBxe9ODX/pSLHxxLnOJi6kq28MQsCTRXwAkkEypwMlXrfkf8ZmYZCz7NsKfN0QoTNIdijPqk0HLPzOszD8ZjSgNgsO9tsk9xn+ZTiJXRlvc196gapwKyNV0XNozqvDLao=,iv:4zitP4humD8CWhw3ZUWNKO64EoNZjJ/ZspAMTsQmXfI=,tag:QxGVsjdxXnQJCmiOqhCqDw==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
